
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Login</title>
</head>
<body>
<h2>Login</h2>
<hr>
<div>
    <ul class="list-group">
        <form id="loginform">
        用户名:<input name="userName" type="text" value="$!{userEntity.username}"><br>
        密码:<input name="password" type="password" value="$!{userEntity.password}"><br>
        <input name="clientId" type="hidden" value="$!{clientId}"><br>
        <input id="token_btn" type="button" value="登录">
        </form>
    </ul>
</div>
<br/>
<script src="/static/login.js"></script>
</body>
</html>